<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/HomeView.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/ExploreView.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/ProfileView.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/SettingsView.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Models.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Main Views</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Ranko/Views/ItemView.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Ranko/Views/UserListGallery.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Sheets/Introduction.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Views/CustomAlert.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Views/ProfileImage.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Views/SearchBar.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Views</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/App/RankoApp.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/App/ContentView.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Auth/Login.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Auth/Secret.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Authentication &amp; Important</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Animations/ProgressView.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Animations/ShakeEffect.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Animations/SkeletonEffect.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Animations &amp; Effects</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Default/DefaultList.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Default/DefaultList_EditDetails.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Default/DefaultList_Gallery.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Default/DefaultList_HomeView.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Default/DefaultList_ItemRow.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Default/DefaultList_Personal.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Default/DefaultList_ReRank.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Default/DefaultList_ShareImage.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Default/DefaultList_Spectate.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Default/DefaultList_Vote.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>Default</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Group/GroupList.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Group/GroupList_EditDetails.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Group/GroupList_Gallery.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Group/GroupList_HomeView.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Group/GroupList_ItemRow.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Group/GroupList_Personal.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Group/GroupList_Share.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>RankoApp/Swift/Ranko/Layouts/Group/GroupList_Spectate.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>Group</string>
					<key>type</key>
					<string>group</string>
				</dict>
			</array>
			<key>title</key>
			<string>Ranko</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Help/font_design.jpg</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Help/font_weight.jpg</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Help/fonts.jpg</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Help</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Games/BlindSequence.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Games</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Data/Categories.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Data/Filters.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Data/Layouts.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Data</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Navigation/Navigation.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Navigation</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Ranko/Tools/Algolia.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>RankoApp/Swift/Ranko/Tools/Create.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Algolia</string>
			<key>type</key>
			<string>group</string>
		</dict>
	</array>
</dict>
</plist>
